<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name='Suite,  parallel="classes"'>
  <test thread-count="5" name="Test">
    <classes>
      <class name="docker.Container_Setup"/>
      <class name="docker.Test1"/>
      <class name="docker.Test3"/>
      <class name="docker.Test2"/>
      <class name="docker.Test4"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
